body {
	background: url("https://ddos_ling.gitee.io/minecraftserver-download/picture/background.png") center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
